* { box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
}

.home-wrapper {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/background.jpg')  no-repeat center top;
  background-size: cover;
  color: #ffffff;
}

header {
  padding: 10px 0;
}

header img {
  width: 200px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 15px;
}

header nav a.active {
  background-color: #fed236;
  border-radius: 5%;
}

#home {
  text-align: center;
  padding: 300px 0 150px;
}

#home h1 {
  font-size: 4em;
  font-weight: normal;
}

#home p {
  font-size: 1.8em;
  font-weight: normal;
}

#servicios .box {

  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 10px;

}

#portafolio {
  background-color: whitesmoke;
}


#portafolio .box {

  display: inline-block;
  text-align: center;
  width: 31%;
  margin: 1%;
  padding: 10px;
  background-color: #ffffff;
}

#portafolio .box img {
  width: 100%;
}

#portafolio .box p {
  color: #666;
  padding: 10px;
}

#spotify {
  height: 209px;
}

section {

  padding: 80px 0;

}

section h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
}


.container {
  width: 996px;
  margin-left: auto;
  margin-right: auto;
}

#home .social {
  margin-top: 60px;
}

#home .social a {
  color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  background-color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 40px;
  margin-right: 10px;
  height: 1.5em;
  width: 1.5em;
  /* Para suavizar el cambio de color */
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;

}

#home .social a:hover {
  background-color: #fed236;

}
