body {
  font-family: 'Roboto', sans-serif;
}

.home-wrapper {
  background: url('../images/background.jpg')  no-repeat center top;
  background-size: cover;
  color: #ffffff;
}

header {
  padding: 10px 0;
}

header img {
  width: 200px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 15px;
}

header nav a.active {
  background-color: #fed236;
  border-radius: 5%;
}

#home {
  text-align: center;
  padding: 300px 0 150px;
}

#home h1 {
  font-size: 4em;
  font-weight: normal;
}

#home p {
  font-size: 1.8em;
  font-weight: normal;
}

.container {
  width: 996px;
  margin-left: auto;
  margin-right: auto;
}
