* { box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.home-wrapper {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/background.jpg')  no-repeat center top;
  background-size: cover;
  color: #ffffff;
}

header {
  padding: 5px 0;
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: rgba(48,48,48,0.5);
}

header img {
  width: 200px;
}

.navbar-brand {
  padding-top: 5px;
}

/*header nav {
  float: right;
  margin-top: 10px;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 15px;
}
*/

header nav a.active {
  background-color: #fed236;
  border-radius: 5px;
}

/*.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #fed236;
    border-radius: 5px;
}*/

#video {
  text-align: center;;
  background-color: #000000;
  padding: 30px 0;
}
#home {
  text-align: center;
  padding: 300px 0 150px;
}

#home h1 {
  font-size: 4em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}

#home .divide {
  width: 80px;
  border-top: 5px solid #fed236;
  margin: 0 auto;
}

#home p {
  font-size: 1.8em;
  font-weight: normal;
  margin-top: 40px;
}

#servicios .box {

  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 10px;

}

#servicios .col-sm-4 {
  text-align: center;
}

#portafolio {
  background-color: whitesmoke;
}


#portafolio .box {

  display: inline-block;
  text-align: center;
  width: 31%;
  margin: 1%;
  padding: 10px;
  background-color: #ffffff;
}

#portafolio .box img {
  width: 100%;
}

#portafolio .box p {
  color: #666;
  padding: 10px;
}

#spotify {
  height: 209px;
}


#contacto {
  background-color: #303030;
  background-image: url('../images/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#contacto h2 {
  color: #ffffff;
}

#contacto input {
  padding: 20px;
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

#contacto textarea {
  margin: 20px 0;
  padding: 20px;
  width: 400px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

#contacto button {
  background-color: #fed236;
  border-color: #fed236;
  border-radius: 3px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding: 20px 40px;
}

footer {
  font-size: 18px;
  padding: 90px 0;
  text-align: center;
}

section {

  padding: 80px 0;

}

section h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
}


.container {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#home .social {
  margin-top: 60px;
}

#home .social a {
  color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  background-color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 40px;
  margin-right: 10px;
  height: 1.5em;
  width: 1.5em;
  /* Para suavizar el cambio de color */
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;

}

#home .social a:hover {
  background-color: #fed236;

}
